.border_color {
     margin: 0 auto;
     --ion-border-color: #d3d3d3c2 !important;
}

.with {
     margin: 0 auto;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
}

@media (min-width:768px) {
     .with {
          width: 30rem;
          margin: 0 auto;
     }
}